<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../../public/assets/css/bulma.css" />
    <link rel="stylesheet" href="../../public/assets/css/style.css" />
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
            <div class="column">
              Form
            </div>
            <div class="column is-two-thirds">
              Map
            </div>  
        <h1 class="title">source code will go here</h1>
        <p class="subtitle">My first website with <strong>Bulma</strong>!</p>
      </div>
    </section>
  </body>
</html>
