{{> navbar}}
    <section class="hero is-dark is-gradient">
      <div class="hero-body" id="header-add-track">
        <div class="container">
          <h1 class="title is-1">Update This Track</h1>
          <h2 class="subtitle">
            Provide other fitness friends with up-to-date info!
          </h2>
        </div>
      </div>
    </section>
    <div class="container">
      <br>
      <div class="columns">
        <div class="column">
          <div class="control">
            <ul id="trackNameUpdate">{{name}}</ul>
          </div>
          
          <div class="control">
            <input class="input is-focused" type="text" placeholder="{{trackType}}" id="address">
          </div>
        
          <div class="control">
            <input class="input is-focused" type="text" placeholder="{{address}}" id="address">
          </div>
          
          <div class="control">
            <input class="input is-focused" type="text" placeholder="{{availability}}" id="zipCode">
          </div>

      <div class="columns" id="save-track-columns">
      <div class="column">
          <div class="save-track-div">
            <button
              class="button is-medium is-success is-hovered"
              id="save-track-button"
            >
              <i class="fas fa-save"></i>
            </button>
            <br />
            <br />
            <h3>Save Track</h3>
          </div>
        </div>
        <div class="column">
          <div class="delete-track-div-on-update">
            <button
              class="button is-medium is-danger is-hovered"
              id="delete-track-button"
            >
              <i class="fas fa-trash"></i>
            </button>
            <br />
            <br />
            <h3>Delete Track</h3>
          </div>
        </div>

        </div>
  
      </div>



        <div class="column">
          MAP GOES HERE
          <img src="/assets/images/cartoon-track.png" alt="400m track" id="track-image"/>
        </div>
</div>
</div>
{{> footer}}
<script src="/assets/js/updateTrack.js"></script>