{{> navbar}}
<section class="hero is-dark is-gradient">
  <div class="hero-body" id="header-add-track">
    <div class="container">
      <h1 class="title is-1">Update Track</h1>
      <h2 class="subtitle">
        Make sure your fitness friends have the most up-to-date information on
        your favorite track!
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <br />
  <div class="columns">
    <div class="column is-one-thirds">
      <div class="column" id="update-track-div">
        <ul id="mini-head-track-info">
          Track Information
        </ul>
        <ul id="track-name-update">
          {{trackName}}
        </ul>
        <div class="field">
          <input
            class="input is-info"
            type="text"
            placeholder="Track Type"
            id="track-type-input"
          />
        </div>
        <ul id="track-address-update">
          {{address}}
        </ul>
        <div class="field">
          <input
            class="input is-info"
            type="text"
            placeholder="Availability"
            id="availability-input"
          />
        </div>
      </div>
      <div class="columns" id="save-track-columns">
        <div class="column">
          <div class="save-track-div">
            <button
              class="button is-medium is-success is-hovered"
              id="save-track-button"
            >
              <i class="fas fa-save"></i>
            </button>
            <br />
            <br />
            <h3>Save Track</h3>
          </div>
        </div>
        <div class="column">
          <div class="delete-track-div-on-update">
            <button
              class="button is-medium is-danger is-hovered"
              id="delete-track-button"
            >
              <i class="fas fa-trash"></i>
            </button>
            <br />
            <br />
            <h3>Delete Track</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="column">Track map goes here</div>
    </div>
  </div>
</div>

{{> footer}}
<script type="text/javascript" src="/assets/js/edit-track.js"></script>