{{!-- navbar from bulma --}}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://webstockreview.net/images/track-clipart.jpg" id="navbar-pic"> <strong>Track Finder</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Add Track
      </a>
    </div>
    {{!-- media responsive navbar with working toggler on smaller screens --}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">More</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.runnersworld.com/">Runners World</a>
            <a class="navbar-item" href="https://mckirdytrained.com/">McKirdyTrained</a>
            <a class="navbar-item" href="https://www.mcmillanrunning.com/">McMillan Running Calculator</a>
            <a class="navbar-item" href="https://runsmartproject.com/calculator/">Jack Daniels' VDOT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{{!-- header --}}
<section class="hero is-light is-gradient">
  <div class="hero-body">
    <div class="container">
      <h1> Track Finder</h1>
      <h2 class="subtitle">Find a running track near you!</h2>
    </div>
  </div>
</section>
{{!-- form for searching tracks per city --}}
<section class="section">
  <div class="container">
    <img id="multiple-runners" src="/assets/images/multiple-runners.png" alt="stick figure runners" />
  </div>

  <br>
  <br>

    <div class="field">
             <div class="control has-icons-right" id="search-for-track">
                         <label>Find track</label>
                <input class="input is-large" type="text" placeholder="Type city here" id="input-city">
                <button class="button is-primary is-focused is-medium" id="button-search">    
                <span class="icon is-large">
                <i class="fas fa-search"></i>
                </span>
                </button>
             </div>
    </div>

  </div>
  </div>
  <br>
  <br>
  <div class="add-track">
    <button class="button is-large" id="search-city"><i class="fas fa-plus"></i></button>
    <br>
    <br>

    <h3>Add Track</h3>
  </div>

  <div class="add-track-div">
    <button class="button is-large"><i class="fas fa-plus"></i></button>
    <br>
    <br>
    <h3>Add Track</h3>
  </div>

</section>
{{!-- footer --}}
<footer>
  <ul>© Bambo Adeshiyan, Claude Hyppolite, Justin Sykes, Beth Presten</ul>
  <ul>Georgia Tech Bootcamp, Class of 2021</ul>
</footer>