{{> navbar}}
{{!-- header --}}
<div class="content-section">

  <section class="hero is-dark is-gradient">
    <div class="hero-body">
      <div class="container">
        <h1> Track Finder</h1>
        <h2 class="subtitle">Find a running track near you!</h2>
      </div>
    </div>
  </section>
  {{!-- form for searching tracks per city --}}
  <section class="section">
    <div class="container">
      <img id="multiple-runners" src="/assets/images/multiple-runners.png" alt="stick figure runners" />
    </div>

    <br>
    <br>

    <div class="field">
      <div class="control has-icons-right" id="search-for-track">
        <label id="find-track-label">Find track</label>
        <input class="input is-large" type="text" placeholder="Type city here" id="input-city">
        <button class="button is-primary is-focused is-medium" id="button-search">
          <span class="icon is-large">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </div>
    </div>
    <br>
    <br>

    <div class="add-track-div">
      <button class="button is-large" id="add-track-home"><i class="fas fa-plus"></i></button>
      <br>

      <h3>Add Track</h3>
    </div>
  </section>
</div>

{{> footer}}