{{> navbar}}
    <section class="hero is-dark is-gradient">
      <div class="hero-body" id="header-add-track">
        <div class="container">
          <h1 class="title is-1">Add a Track</h1>
          <h2 class="subtitle">
            Don't see your local track on the list? Add it here!
          </h2>
        </div>
      </div>
    </section>
    <div class="container">
      <br>
      <div class="columns">
        <div class="column">
          <img src="/assets/images/cartoon-track.png" alt="400m track" id="track-image"/>
        </div>
        <div class="column">
          <div class="control">
            <input class="input is-focused" type="text" placeholder="Track Name" id="name">
          </div>
          <div class="select">
            <select id="trackType">
              <option value="">Select Track Type</option>
              <option value="standard">standard</option>
              <option value="non-standard">non-standard</option>
            </select>           
          </div> <button class="is-large" id="track-type"><i class="fas fa-question"></i></button>
              <!--Creates the popup body-->
              <div class="popup-overlay">
              <!--Creates the popup content-->
              <div class="popup-content">
              <h2 class="subtitle">What does this mean?</h2>
              <ul> A <strong>standard</strong> track is a 400m track generally found at most high schools and colleges.</ul>
              <br>
              <ul> A <strong>non-standard</strong> track might be tracks found at middle schools or inside government parks.</ul>
               <!--popup's close button-->
              <button class="close">Close</button>    
            </div>
          </div>
          <div class="control">
            <input class="input is-focused" type="text" placeholder="Street Address" id="address">
          </div>
          <div class="control">
            <input class="input" type="text" placeholder="City" id="city">
          </div>
          <div class="select is-focused">
          <select name="state" id="state-name">
          <option value="" selected="selected">Select a state</option>
          <option value="Alabama">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="District Of Columbia">District Of Columbia</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucky">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="Maine">Maine</option>
          <option value="Maryland">Maryland</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="North Dakota">North Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virginia">Virginia</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option></select
        >
          </select>
          </div>
                    <div class="control">
            <input class="input is-focused" type="text" placeholder="Zip Code" id="zipCode">
          </div>
          <div class="control">
            <input class="input is-focused" type="text" placeholder="Availability, e.g. M - F, 4 - 6pm" id="details">
          </div>
          <button id="add-track"><i class="fas fa-running"></i> Add Track <i class="fas fa-running"></i></button>
        </div>
      </div>
    </div>
     {{> footer}}
<script src="/assets/js/newTrack.js"></script>

