@import "./css/bulma";
h1 {
  font-family: "Faster One", cursive;
  font-size: 100px;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#input-city {
  width: 375px;
  height: 52px;
}

label {
  font-size: 30px;
  font-family: "Libre Baskerville", serif;
}

footer {
  background-color: paleturquoise;
  padding: 30px;
  text-align: center;
  position: sticky;
  bottom: 0;
  height: auto;
  margin-top: 40px;
  width: 100%;
}

/* new-track.handlebars css */
#header-add-track {
  padding: 20px;
}

.select {
  align-items: left;
}

/* button to add track on add-track.handlebars */
#add-track {
  /* float: left; */
  background-color: purple;
  color: whitesmoke;
  border-radius: 12px;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
}

.add-track-div {
  text-align: center;
}

#search-for-track {
  text-align: center;
}

/* form on add-track-handlebars */
.control,
.select {
  margin: 20px;
  text-align: left;
}

#track-image {
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
}

/* button to open modal */
#track-type {
  margin: 20px;
}

/* all the pop-up css, lines 77-113 */
.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 3px solid black;
  width: 40%;
  height: 40%;
  left: 25%;
  border-radius: 8px;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
  margin: 10px;
  padding: 5px;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
/* closing the modal */
.close {
  background-color: lightseagreen;
  border-radius: 12px;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  padding: 2%;
  margin: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#bottom-image {
  margin-top: 15%;
}
