h1 {
  font-family: "Faster One", cursive;
  font-size: 100px;
  text-align: center;
}

h2 {
  text-align: center;
}
body {
  background-color: whitesmoke;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search {
  width: 375px;
  height: 50px;
}

body {
  text-align: center;
}

i {
  size: 20px;
}
